* {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none
}
@font-face {
    font-family: 'OpenSansSemiBold', sans-serif;
    src: url('../fonts/OpenSansSemiBold.eot');
    src: url('../fonts/OpenSansSemiBold.eot') format('embedded-opentype'),
    url('../fonts/OpenSansSemiBold.woff2') format('woff2'),
    url('../fonts/OpenSansSemiBold.woff') format('woff'),
    url('../fonts/OpenSansSemiBold.ttf') format('truetype'),
    url('../fonts/OpenSansSemiBold.svg#OpenSansSemiBold') format('svg');
    font-style: normal;
    font-weight: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    background: rgb(245, 244, 244);
}

input, textarea {
    outline: none;
    border: 0;
    -webkit-appearance: none;
}

button,
input[type="submit"] {
    cursor: pointer;
    display: block;
    border: 0;
    outline: none;
}

section, header, footer {
    background-position: center top;
    background-repeat: no-repeat;
}

a {
    cursor: pointer;
    border: none;
    display: block;
    text-decoration: none;
}

img {
    max-width: 100%;
    border: none;
    vertical-align: middle;
    text-decoration: none;
}

ul {
    list-style: none;
}

:focus::-webkit-input-placeholder {
    color: transparent;
}

:focus::-moz-input-placeholder {
    color: transparent;
}

:focus::-input-placeholder {
    color: transparent;
}

.clear {
    clear: both;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

.inline-block {
    display: inline-block;
}

.display-block {
    display: block;
}

.display-none {
    display: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.in-top {
    display: inline-block;
    vertical-align: top;
}

.in-middle {
    display: inline-block;
    vertical-align: middle;
}

.in-bottom {
    display: inline-block;
    vertical-align: bottom;
}

.w5 {
    width: 5%;
}

.w10 {
    width: 10%;
}

.w15 {
    width: 15%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w35 {
    width: 35%;
}

.w40 {
    width: 40%;
}

.w45 {
    width: 45%;
}

.w50 {
    width: 50%;
}

.w55 {
    width: 55%;
}

.w60 {
    width: 60%;
}

.w65 {
    width: 65%;
}

.w70 {
    width: 70%;
}

.w75 {
    width: 75%;
}

.w80 {
    width: 80%;
}

.w85 {
    width: 85%;
}

.w90 {
    width: 90%;
}

.w95 {
    width: 95%;
}

.w100 {
    width: 100%;
}

.transition {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-webkit-transition: all 0.3s ease;
    -moz--webkit-transition: all 0.3s ease;
}

.transition:hover {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -o-webkit-transition: all 0.3s ease;
    -moz--webkit-transition: all 0.3s ease;
}

.opacity:hover {
    opacity: 0.7;
}

.r5 {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.r20 {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
}

.r30 {
    border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

.r50 {
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

.mobile {
    display: none;
}

.desctop {
    display: block;
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.allcontent {
    overflow: hidden;
}

.wrap {
    padding: 0 15px;
    margin: 0 auto;
}

.green-bg {
    background: rgb(115, 189, 78)
}

.green-bg img {
    width: 100%;
}

header {
    padding: 24px 0 23px;
}

header .wrap {
    max-width: 1079px;
}

.logo {
    max-width: 242px;
}

.header-right {
    margin-top: 5px;
}

.header-right .number-phone {
    font-weight: 700;
    color: rgb(52, 54, 60);
    line-height: 28px;
    margin-right: 26px;
}

.btn-one {
    text-align: center;
    color: #fff;
    width: 239px;
    height: 42px;
    background: rgb(52, 54, 60);
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 0;
}

.one {
    background: rgb(52, 54, 60);
    padding: 64px 0 106px;
    border-bottom: 16px solid rgb(115, 189, 78);
    color: #fff;
}

.one .wrap {
    max-width: 1124px;
}

.one-left {
    max-width: 634px;
    min-width: 300px;
    font-weight: 600;
    font-size: 36px;
    line-height: 52px;
    margin-right: -75px;
}

.one-left:after {
    content: url('../images/line_1.png');
    position: absolute;
    right: 80px;
    top: 153px;
}

.one-title {
    margin: 35px 0 42px;
    color: #fff;
    font-size: 50px;
    line-height: 64px;
}

.one-text {
    margin-bottom: 19px;
    max-width: 520px;
}

.btn-two {
    max-width: 360px;
    width: 100%;
    height: 55px;
    background: rgb(115, 189, 78);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 2px;
    line-height: 24px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.one-right {
    width: 530px;
    height: 530px;
    position: relative;
}

.parking {
    width: 139px;
    z-index: 2;
    right: 0;
    top: -6px;
}

.one-slider:before {
    content: '';
    width: 508px;
    height: 508px;
    border: 11px solid rgba(115, 189, 78, 0.36);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.one-slider:after {
    content: '';
    width: 460px;
    height: 460px;
    background: rgb(115, 189, 78);
    position: absolute;
    top: 35px;
    left: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.one-slider.owl-carousel {
    z-index: initial;
}

.one-slider,
.owl-stage-outer,
.owl-stage,
.owl-item {
    height: 100%;
}

.one-slider .one-slide img {
    display: inline-block !important;
}

.one-slider .owl-item {
    width: 100% !important;
    max-width: 530px;
}

.one-slide {
    width: 100%;
}

.one-slider.owl-carousel .owl-stage-outer {
    z-index: 3;
    position: relative;
}

.one-slider .owl-item .two-slide-img img {
    width: 600px;
    max-width: 600px;
    margin: 57px 20px 0 -50px;
}

.one-slider .owl-item .one-slide-img img {
    margin: 163px 68px 0 15px;
    max-width: 447px;
    width: 100% !important;
}

.one-slider .owl-item .three-slide-img img {
    margin: 150px 0 0 -30px;
    max-width: 500px;
    width: 100% !important;
}

.one-slider .owl-stage {
}

.owl-prev,
.owl-next {
    position: absolute;
    color: rgba(0, 0, 0, 0);
    width: 20px;
    height: 36px;
    background: url('../images/left.svg');
    top: 50%;
    margin-top: -18px;
}

.owl-next {
    background: url('../images/right.svg');
    right: -31px;
}

.owl-prev {
    left: -31px;
}

.one-right:before {
    content: url('../images/line_2.png');
    position: absolute;
    top: 174px;
    right: -185px;
}

.one-right:after {
    content: url('../images/line_3.png');
    position: absolute;
    right: -185px;
    bottom: -70px;
}

.arrow-down {
    width: 41px;
    margin: 0 auto 0;
    position: relative;
    top: -30px;
    cursor: pointer;
}

.arrow-down img {
    display: block;
    width: 100%;
    margin-left: 1px;
}

.two {
    padding: 24px 0 192px;
    border-bottom: 16px solid rgb(115, 189, 78);
}

.two .wrap {
    max-width: 1142px;
}

.two-title {
    font-weight: 700;
    max-width: 800px;
    font-size: 36px;
    line-height: 52px;
    letter-spacing: 0.4px;
    color: rgb(71, 72, 77);
    margin: 0 auto 96px;
    text-align: center;
}

.two .row:nth-child(1) {
    margin-bottom: 96px;
}

.two .item {
    max-width: 500px;
    width: 100%;
    background: rgb(229, 237, 223);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    position: relative;
    box-shadow: 0 0 0 4px rgba(180, 216, 160, 1);
}
.item-icon{
    max-width: 136px;
}
.two .item .item-icon img {
    margin: -2px 0 -5px -4px;
    width: 144px;
}

.two .item-text {
    max-width: 340px;
    margin: 6px -20px 4px 6px;
}

.two .item-text .title {
    font-size: 24px;
    letter-spacing: 0.2px;
    font-family: 'OpenSansSemiBold', sans-serif;
    color: rgb(71, 72, 77);
    margin-bottom: 4px;
}

.two .item-text .text {
    letter-spacing: 0.2px;
    color: rgb(93, 94, 99);
    font-size: 16px;
    line-height: 23px;
}

.two .row .item:nth-child(1):before {
    content: '';
    position: absolute;
    display: block;
    width: 92px;
    border-top: 4px dashed rgba(115, 189, 78, 1);
    right: -102px;
    top: 50%;
    margin-top: -2px;
}

.two .row:nth-child(1) .item:after {
    content: '';
    position: absolute;
    display: block;
    height: 76px;
    border-left: 4px dashed rgba(115, 189, 78, 1);
    left: 50%;
    margin-left: -2px;
    bottom: -86px;
}

.two .row:nth-child(2) .item:nth-child(1) .item-text {
    margin-top: 15px;
}

.two .row:nth-child(2) .item:nth-child(1) .item-text .title {
    margin-bottom: 2px;
}

.three {
    padding: 42px 0 46px;
    background: url('../images/parking_backgr.jpg') no-repeat center top;
    background-size: cover;
}

.three .wrap {
    max-width: 1144px;
}

.three .container {
    background: rgb(245, 244, 244);
    padding: 32px 137px 64px 99px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.three-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.4px;
    margin-bottom: 48px;
    color: rgb(71, 72, 77);
}

.three-left {
    width: 342px;
    height: 341px;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#edf0e9+1,73bd4e+100 */
    background: #edf0e9; /* Old browsers */
    background: -moz-linear-gradient(top, #edf0e9 1%, #73bd4e 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #edf0e9 1%, #73bd4e 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #edf0e9 1%, #73bd4e 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf0e9', endColorstr='#73bd4e', GradientType=0); /* IE6-9 */
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    box-shadow: 0 0 0 25px rgba(116, 187, 80, .3);
    margin-top: 94px;
}

.three-left img {
    position: absolute;
    width: 245px;
    top: -75px;
    left: 50%;
    margin-left: -123px;
}

.three-right {
    max-width: 380px;
    width: 100%;
}

.three-right .item {
    background: rgb(237, 240, 233);
    box-shadow: 0 0 0 4px rgba(197, 223, 183, 1);
    padding: 6px 0;
    margin-bottom: 36px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    position: relative;
}

.three-right .item:last-of-type {
    margin-bottom: 0;
}

.three-right .item-icon {
    width: 78px;
    text-align: center;
}

.three-right .item:last-of-type .item-icon {
    vertical-align: top;
    margin-top: 6px;
}

.three-right .item-text {
    max-width: 290px;
    width: 100%;
    margin-left: -3px;
}

.three-right .item-text .title {
    font-size: 22px;
    letter-spacing: 0.2px;
    font-family: 'OpenSansSemiBold', sans-serif;
    color: rgb(115, 189, 78);
    margin-bottom: 4px;
}

.three-right .item-text .text {
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: rgb(93, 94, 99);
}

.three-right .item:nth-child(1):after,
.three-right .item:nth-child(3):after {
    content: url('../images/line_semicircle.svg');
    position: absolute;
    right: -64px;
    top: 32px;
}

.three-right .item:nth-child(3):after {
    top: 82px !important;
}

.three-right .item:nth-child(2):after {
    content: url('../images/line_semicircle.svg');
    position: absolute;
    left: -64px;
    top: 41px;
    -webkit-transform: rotate(-180deg); /* Chrome y Safari */
    -moz-transform: rotate(-180deg); /* Firefox */
    -o-transform: rotate(-180deg); /* Opera */
    -ms-transform: rotate(-180deg); /* Opera */
}

.clients {
    background: rgb(52, 54, 60);
}

.clients:before {
    content: '';
    position: absolute;
    display: block;
    width: 40%;
    height: 100%;
    background: rgb(115, 189, 78);
    top: 0;
    left: 0;
}

.clients .wrap {
    max-width: 1144px;
    position: relative;
}

.clients-title {
    padding: 26px 0 32px 27px;
    font-size: 30px;
    line-height: 42px;
    letter-spacing: 0.4px;
    color: #fff;
    font-family: 'OpenSansSemiBold', sans-serif;
    position: relative;
}

.clients-title:after {
    content: '';
    position: absolute;
    display: block;
    width: 100px;
    height: 100px;
    background: rgb(115, 189, 78);
    top: 20px;
    right: -50px;
    -webkit-transform: rotate(-45deg); /* Chrome y Safari */
    -moz-transform: rotate(-45deg); /* Firefox */
    -o-transform: rotate(-45deg); /* Opera */
    -ms-transform: rotate(-45deg); /* Opera */
}

.clients-title .title {
    max-width: 465px;
    position: relative;
    z-index: 5;
}

.clients-link {
    padding: 31px 0;
}

.clients-link img {
    display: block;
    width: 100%;
}

.clients-link a:nth-child(2) {
    margin: 5px 0 0 45px;
}

.four {
    padding: 48px 0 89px;
    border-bottom: 16px solid rgb(115, 189, 78);
}

.four-title {
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 0.4px;
    margin-bottom: 52px;
    color: rgb(71, 72, 77);
    font-family: 'OpenSansSemiBold', sans-serif;
}

.rewiews-slider {
    max-width: 1920px;
    margin: 0 auto;
}

.rewiews-slider,
.rewiews-slider.owl-carousel .owl-stage-outer {
    overflow: initial !important
}

.rewiews-slide {
    padding: 0 51px 26px;
    border: 4px solid rgba(115, 189, 78, 0.4);
    background: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.rewiews-slider .owl-item {
    opacity: 0.26;
    -moz-transform: scale(0.84783);
    -webkit-transform: scale(0.84783);
    -o-transform: scale(0.84783);
    -ms-transform: scale(0.84783);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 0 20px !important;
    -ms-transform: translateY(-0px);
}

.rewiews-slider .owl-item.center {
    margin: 0 20px !important;
    opacity: 1;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -ms-transform: translateY(0px);
}

.rewiews-slide-inner {
    padding-top: 32px;
}

.rewiews-slide-top {
    margin-top: -32px;
}

.photo-user {
    margin: 0 10px 0 8px;
}

.photo-user img {
    display: block;
}

.rewiews-slide-top-text {
    max-width: 300px;
    letter-spacing: 0.2px;
    font-size: 16px;
    min-height: 66px;
    font-family: 'OpenSansSemiBold', sans-serif;
}

.rewiews-slide-top-text .name {
    color: rgb(115, 189, 78);
    margin-bottom: 4px;
}

.rewiews-slide-top-text .text {
    color: rgb(93, 94, 99);
    font-size: 14px;
    line-height: 20px;
}

.rewiews-text {
    max-width: 460px;
    margin-top: 20px;
    color: rgb(93, 94, 99);
    position: relative;
}

.rewiews-text p {
    margin-bottom: 22px;
}

.rewiews-text p:last-of-type {
    margin-bottom: 0;
}

.rewiews-text:before {
    content: url('../images/quotation_mark_1.svg');
    position: absolute;
    top: -30px;
    left: -39px;
}

.rewiews-text:after {
    content: url('../images/quotation_mark_1.svg');
    position: absolute;
    bottom: -15px;
    right: -39px;
    -webkit-transform: rotate(-180deg); /* Chrome y Safari */
    -moz-transform: rotate(-180deg); /* Firefox */
    -o-transform: rotate(-180deg); /* Opera */
    -ms-transform: rotate(-180deg); /* Opera */
}

.rewiews-slider .owl-prev,
.rewiews-slider .owl-next {
    width: 29px;
    height: 53px;
    background: url('../images/big_left_arrow.svg');
    top: 50%;
    margin-top: -26px;
}

.rewiews-slider .owl-next {
    right: 50%;
    left: initial;
    -webkit-transform: rotate(-180deg); /* Chrome y Safari */
    -moz-transform: rotate(-180deg); /* Firefox */
    -o-transform: rotate(-180deg); /* Opera */
    -ms-transform: rotate(-180deg); /* Opera */
    margin-right: -355px;
}

.rewiews-slider .owl-prev {
    left: 50%;
    margin-left: -355px;
}

.five {
    padding: 40px 0 89px;
    background: url('../images/background_city.jpg') no-repeat center top;
    background-size: cover;
}

.five .wrap {
    max-width: 1102px;
}

.five-title {
    max-width: 726px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0.4px;
    font-family: 'OpenSansSemiBold', sans-serif;
    color: rgb(71, 72, 77);
    margin: 0 auto 66px;
}

.five-left {
    max-width: 454px;
    padding: 24px 20px;
    background: rgba(71, 72, 77, .8);
    position: relative;
    text-align: center;
    font-family: 'OpenSansSemiBold', sans-serif;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: #fff;
    margin-top: 37px;
}

.five-left:after {
    content: '';
    position: absolute;
    border: 20px solid transparent;
    border-top: 20px solid rgba(71, 72, 77, .8);
    left: 50%;
    bottom: -40px;
    margin-left: -20px;
}

.five-right .item:nth-child(2) {
    margin: 0 31px 0 35px;
}

.five-right .item {
    text-align: center;
    color: #fff;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
}

.five-right .item-title {
    font-size: 24px;
    letter-spacing: 0.4px;
    color: rgb(51, 117, 18);
    margin-bottom: 12px;
    font-family: 'OpenSansSemiBold', sans-serif;
}

.five-right .item-oval {
    width: 192px;
    height: 192px;
    background: #73bd4e;
    border: 12px solid #529d2d;
    display: table;
    vertical-align: middle;
}

.five-right .item:nth-child(1) .item-oval {
    width: 144px;
    height: 144px;
}

.five-right .item:nth-child(2) .item-oval {
    width: 164px;
    height: 164px;
}

.five-right .item .title {
    font-weight: 600;
}

.five-right .item .text {
    font-family: 'OpenSansSemiBold', sans-serif;
    font-weight: 400;
    line-height: 1;
}

.five-right .item:nth-child(1) .title {
    font-size: 20px;
}

.five-right .item:nth-child(1) .text {
    font-size: 14px;
}

.five-right .item:nth-child(2) .title {
    font-size: 24px;
}

.five-right .item:nth-child(2) .text {
    font-size: 16.8px;
}

.five-right .item:nth-child(3) .title {
    font-size: 29px;
}

.five-right .item:nth-child(3) .text {
    font-size: 20px;
}

.six {
    padding: 70px 0;
    background: rgb(52, 54, 60);
}

.six .wrap {
    max-width: 1068px;
}

.six-left {
    width: 56.2656%;
    height: 445px;
    margin-top: 49px;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.gmnoprint {
    display: none !important;
}

.map-text {
    max-width: 256px;
    padding: 16px 14px;
    background: rgba(71, 72, 77, .8);
    left: 50%;
    margin-left: -128px;
    top: 74px;
    color: #fff;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    font-weight: 600;
}

.map-text:after {
    content: '';
    position: absolute;
    border: 12px solid transparent;
    border-top: 12px solid rgba(71, 72, 77, .8);
    bottom: -24px;
    left: 50%;
    margin-left: -12px;
}

.map-text .title {
    text-align: center;
    line-height: 24px;
    font-size: 18px;
    color: rgb(115, 189, 78);
    margin-bottom: 8px;
}

.map-text-inner span,
.map-text-inner a {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-left: 4px;
    color: #fff;
    max-width: 202px;
}

.map-text .map-text-inner:nth-child(2) img,
.map-text .map-text-inner:nth-child(2) span {
    vertical-align: top;
}

.map-text .map-text-inner:nth-child(2) img {
    margin-top: 3px;
}

.six-right {
    max-width: 454px;
    height: 536px;
    width: 100%;
    margin-left: -2px;
    color: #fff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .2);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    position: relative;
    z-index: 2;
}

.six-right form {
    padding: 32px 74px 73px;
}

.sendon {
    display: none;
}

.default-form--show-message .sendon {
    display: block;
}

.default-form--show-message .form-title,
.default-form--show-message .form-text,
.default-form--show-message .popup-write,
.default-form--show-message .row {
    display: none;
}

.form-title {
    text-align: center;
    font-family: 'OpenSansSemiBold', sans-serif;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.2px;
    margin-bottom: 2px;
}

.form-text {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 24px;
    text-align: center;
}

form .row {
    margin: 0 auto 18px;
    width: 100%;
    max-width: 300px;
}

.six-right form .row:last-of-type {
    margin: 24px auto 0;
}

form .row label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-family: 'OpenSansSemiBold', sans-serif;
    line-height: 19px;
    margin-bottom: 8px;
}

.row.form-group input[type="text"],
.row.form-group input[type="tel"] {
    display: block;
    width: 100%;
    height: 42px;
    padding: 0 32px 0 16px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    background: rgba(250, 250, 250, 1);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0);
    background-position: 95% center;
}

.row input[type="text"]:focus,
.row input[type="tel"]:focus {
    border: 1px solid rgb(48, 146, 249);
}

.row.form-group.has-danger input[type="text"],
.row.form-group.has-danger input[type="tel"] {
    border: 1px solid rgb(254, 67, 67);
    background: url('../images/error_icon.svg') no-repeat;
    background-position: 95% center;
    background-color: rgba(250, 250, 250, 1);
}

.btn.disabled, .btn:disabled {
    cursor: not-allowed;
}

.six-right form .row button {
    width: 100%;
    height: 42px;
    background: rgb(71, 72, 77);
    color: #fff;
    font-size: 14px;
    letter-spacing: 1.2px;
    font-family: 'OpenSansSemiBold', sans-serif;
    line-height: 20px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.sendon-one {
    padding: 0px 0 0;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
}

.sendon-title {
    margin: 24px 0 12px;
    font-size: 26px;
    line-height: 34px;
    letter-spacing: 0.2px;
    font-family: 'OpenSansSemiBold', sans-serif;
}

footer .wrap {
    max-width: 1120px;
}

footer a,
footer {
    color: rgb(52, 54, 60);
}

footer {
    padding: 38.5px 0 8px;
}

.footer-logo {
    max-width: 242px;
    margin-right: 50px;
}

.footer-center {
    margin-top: 2.5px;
}

.footer-phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    margin: 7px 16px 0 0;
}

.footer-right {
    margin-top: 14.5px;
}

.footer-right a {
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
}

.footer-right a:last-of-type {
    margin-left: 36px;
}

.footer-text {
    text-align: center;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.2px;
    margin-top: 15px;
}

.bg {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(52, 54, 60, 0.6);
    display: none;
}

.modal-popup {
    display: none;
    z-index: 1000;
    position: absolute;
}

.modal-one {
    max-width: 480px;
    width: 100%;
    padding: 21px 0;
    background: rgb(234, 234, 234);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.form-popup {
    padding: 21px 60px;
}

.modal-one .form-title {
    text-align: center;
    font-size: 26px;
    line-height: 36px;
    letter-spacing: 0.2px;
    font-family: 'OpenSansSemiBold', sans-serif;
    margin-bottom: 2px;
    color: rgb(115, 189, 78);
}

.modal-one .form-text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: rgb(93, 94, 99);
    margin-bottom: 24px;
}

.form-popup button[type="submit"] {
    width: 100%;
    height: 42px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    background: rgb(82, 157, 45);
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
}

.sendon-two {
    padding: 51px 0;
    text-align: center;
    max-width: 296px;
    margin: 0 auto;
    color: rgb(93, 94, 99);
    font-size: 16px;
    letter-spacing: 0.2px;
    line-height: 24px;
}

.sendon-two .sendon-title {
    font-size: 24px;
    font-family: 'OpenSansSemiBold', sans-serif;
    letter-spacing: 0.6px;
    line-height: 33px;
    margin: 16px 0 4px;
}

.popup-write {
    text-align: center;
    color: rgb(93, 94, 99);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    margin-top: 24px;
}

.close-popup {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}

@media screen and (max-width: 1143px) {
    header {
        padding: 15.9px 0 16.3px;
    }

    header .wrap {
        max-width: 750px;
    }

    .logo {
        max-width: 218px;
    }

    .header-right .number-phone {
        font-size: 14px;
        margin-right: 18px;
    }

    .btn-one {
        height: 39px;
    }

    .one {
        padding: 34px 0 90px;
    }

    .one .wrap {
        max-width: 750px;
    }

    .one-left {
        max-width: 320px;
        font-size: 22px;
        line-height: 32px;
    }

    .one-title {
        margin: 52px 0 32px;
        font-size: 28px;
        line-height: 32px;
    }

    .one-text {
        margin-bottom: 14px;
    }

    .btn-two {
        width: 260px;
        height: 42px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.8px;
        font-weight: 600;
    }

    .one-left:after {
        top: 112px;
        right: -24px;
    }

    .one-right {
        width: 344px;
        height: 344px;
        margin-right: 27px;
    }

    .parking {
        width: 75px;
    }

    .one-slider:after {
        width: 306px;
        height: 306px;
        left: 19px;
        top: 19px;
    }

    .one-slider:before {
        width: 330px;
        height: 330px;
        border: 7px solid rgba(115, 189, 78, 0.36);
    }

    .one-slider .owl-item .one-slide-img img {
        max-width: 299px;
        margin: 93px 37px 0 7px;
    }

    .one-slider .owl-item .three-slide-img img {
        max-width: 330px;
        margin: 93px 37px 0 -20px;
    }

    .one-slider .owl-item .two-slide-img img {
        width: 600px;
        max-width: 400px;
        margin: 40px 20px 0 -32px;
    }

    .one-slider .owl-item {
        max-width: 344px;
    }

    .one-right:before {
        display: none;
    }

    .one-right:after {
        content: url('../images/line_3_768.png');
        right: -156px;
        bottom: -60px;
    }

    .arrow-down {
        top: -9px;
    }

    .two {
        padding: 20px 0 40px;
    }

    .two-title {
        max-width: 559px;
        margin-bottom: 24px;
        font-size: 26px;
        line-height: 38px;
    }

    .two .row:nth-child(1) {
        margin: 0;
    }

    .two .row > .item {
        max-width: 380px;
        width: 100%;
        float: none;
        margin: 0 auto 32px;
    }

    .item-icon {
        width: 108px;
    }

    .two .item-text {
        max-width: 248px;
        margin: 6px 12px 8px;

    }

    .two .item-text .title {
        font-size: 16px;
    }

    .two .item-text .text {
        font-size: 12px;
        line-height: 14px;
    }

    .two .item .item-icon img {
        margin: -2px 0 -5px -4px;
        max-width: initial;
        width: 115px;
    }

    .two .row .item:nth-child(1):before {
        display: none;
    }

    .two .row .item:after {
        content: '';
        position: absolute;
        display: block;
        height: 20px !important;
        border-left: 2.4px dashed rgba(115, 189, 78, 1) !important;
        left: 50% !important;
        margin-left: -1.2px !important;
        bottom: -28px !important;
    }

    .two .row:last-of-type .item:last-of-type:after {
        display: none !important;
    }

    .three {
        padding: 42px 0;
    }

    .three .container {
        max-width: 720px;
        padding: 24px 68px 40px 56px;
        margin: 0 auto;
    }

    .three-title {
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 36px;
    }

    .three-left {
        margin-top: 72px;
        width: 247px;
        height: 247px;
    }

    .three-left img {
        position: absolute;
        width: 185px;
        top: -64px;
        left: 50%;
        margin-left: -95px;
    }

    .three-right {
        max-width: 278px;
        width: 100%;
    }

    .three-right .item-icon {
        width: 66px;
    }

    .three-right .item {
        margin-bottom: 20px;
        box-shadow: 0 0 0 2px rgba(197, 223, 183, 1);
    }

    .three-right .item-text {
        max-width: 200px;
    }

    .three-right .item-text .title {
        font-size: 16px;
    }

    .three-right .item-text .text {
        font-size: 14px;
        line-height: 20px;
    }

    .three-right .item:nth-child(1):after,
    .three-right .item:nth-child(3):after {
        content: url('../images/lineSemicircle.png');
        position: absolute;
        left: -44px;
        right: initial;
        top: 25px;
        -webkit-transform: rotate(-180deg);
        -moz-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
    }

    .three-right .item:nth-child(3):after {
        top: 68px !important;
    }

    .three-right .item:nth-child(2):after {
        content: url('../images/lineSemicircle.png');
        left: initial;
        right: -44px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
    }

    .clients .wrap {
        max-width: 716px;
    }

    .clients-title {
        padding: 20px 0 24px;
        max-width: 281px;
        font-size: 18px;
        line-height: 24px;
    }

    .clients-link {
        padding: 20px 0;
    }

    .clients-link a:nth-child(1) {
        width: 100px;
    }

    .clients-link a:nth-child(2) {
        width: 189px;
        margin: 3px 0 0 28px;
    }

    .clients-title:after {
        content: '';
        position: absolute;
        display: block;
        width: 63px;
        height: 63px;
        background: rgb(115, 189, 78);
        top: 13px;
        right: -32px;
    }

    .four {
        padding: 32px 0 64px;
    }

    .four-title {
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 65px;
    }

    .rewiews-slide {
        border: 2px solid rgba(115, 189, 78, 0.4);
        padding: 0 35px 20px 46px;
    }

    .photo-user {
        width: 96px;
        margin: 0 10px;
    }

    .rewiews-slide-top-text {
        min-height: 59px;
        font-size: 14px;
    }

    .rewiews-slide-top-text .text {
        font-size: 12px;
        line-height: 18px;
    }

    .rewiews-text p {
        margin-bottom: 18px;
    }

    .rewiews-text {
        margin-top: 13px;
        max-width: 400px;
        font-size: 14px;
    }

    .rewiews-text:before,
    .rewiews-text:after {
        content: '';
        width: 30px;
        height: 22px;
        background: url('../images/quotation_mark_1.svg') no-repeat center top;
        background-size: 100%;
    }

    .rewiews-text:before {
        top: -23px;
        left: -34px;
    }

    .rewiews-text:after {
        bottom: -5px;
        right: -15px;
    }

    .rewiews-slider .owl-prev, .rewiews-slider .owl-next {
        width: 22px;
        height: 40px;
        background-size: 100%;
        margin-top: -20px;
    }

    .rewiews-slide-top-text {
        max-width: 277px;
    }

    .rewiews-slider .owl-next {
        margin-right: -300px;
    }

    .rewiews-slider .owl-prev {
        margin-left: -300px;
    }

    .five {
        padding: 20px 0 57px;
    }

    .five .wrap {
        max-width: 745px;
    }

    .five-title {
        max-width: 596px;
        font-size: 26px;
        line-height: 38px;
        margin-bottom: 40px;
    }

    .five-left {
        margin-top: 23px;
        max-width: 296px;
        padding: 20px 12px;
        font-size: 14px;
        line-height: 20px;
    }

    .five-right .item:nth-child(1) .item-oval {
        width: 104px;
        height: 104px;
    }

    .five-right .item:nth-child(2) .item-oval {
        width: 118px;
        height: 118px;
    }

    .five-right .item:nth-child(3) .item-oval {
        width: 138px;
        height: 138px;
    }

    .five-right .item-oval {
        border: 9px solid #529d2d;
    }

    .five-right .item:nth-child(2) {
        margin: 0 15px;
    }

    .five-right .item-title {
        font-size: 16px;
        letter-spacing: 0.3px;
        margin-bottom: 11px;
    }

    .five-right .item:nth-child(1) .title {
        font-size: 12px;
        line-height: initial;
    }

    .five-right .item:nth-child(1) .text {
        font-size: 10px;
        line-height: initial;
    }

    .five-right .item:nth-child(2) .title {
        line-height: initial;
        font-size: 18px;
    }

    .five-right .item:nth-child(2) .text {
        font-size: 12px;
        line-height: initial;
    }

    .five-right .item:nth-child(3) .title {
        line-height: initial;
        font-size: 20px;
    }

    .five-right .item:nth-child(3) .text {
        font-size: 14px;
        line-height: initial;
    }

    .six {
        padding: 54px 0;
    }

    .six .wrap {
        max-width: 747px;
    }

    .six-left {
        max-width: 420px;
        width: 100%;
        height: 320px;
        margin-top: 45px;
    }

    .map-text {
        max-width: 184px;
        top: 52px;
        padding: 12px 11px 12px;
        margin-left: -92px;
    }

    .map-text .title {
        font-size: 12px;
        line-height: 17px;
        margin-bottom: 6px;
    }

    .map-text-inner span, .map-text-inner a {
        max-width: 145px;
        font-size: 10px;
        margin-left: 0;
        line-height: initial;
    }

    .map-text .map-text-inner img {
        width: 12px;
    }

    .six-right {
        width: 320px;
        height: 409px;
        margin-left: -29px;
    }

    .six-right form {
        padding: 16px 29px 22px;
    }

    .form-title {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 4px;
    }

    .form-text {
        font-size: 14px;
        line-height: 20px;
        margin: 0 auto 12px;
        max-width: 214px;
    }

    form .row {
        margin-bottom: 10px;
    }

    .sendon-one {
        font-size: 16px;
        line-height: 22px;
    }

    footer {
        padding: 2px 0 6px;
    }

    footer .wrap {
        max-width: 750px;
    }

    .footer-logo {
        margin: 26px 22px 0 0;
        max-width: 218px;
    }

    .footer-phone {
        float: none;
        margin: 0 0 0;
        line-height: 28px;
        font-size: 14px;
        text-align: center;
    }

    .footer-center .float-left {
        float: none;
    }

    .footer-text {
        margin-top: 8px;
    }

    .footer-right {
        margin-top: 18px;
        text-align: center;
    }

    .footer-right a {
        display: block;
    }

    .footer-right a:last-of-type {
        margin: 16px 0 0 0;
    }

    .modal-one {
        max-width: 360px;
    }

    .form-popup {
        padding: 21px 25px;
    }

    .sendon-two {
        padding: 31px 0 51px;
    }
}

@media screen and (max-width: 767px) {
    .desctop {
        display: none;
    }

    .mobile {
        display: block;
    }

    header {
        padding: 10px 0;
    }

    .logo {
        float: none;
        width: 205px;
        margin: 0 auto 9px;
    }

    .header-right {
        float: none;
        text-align: center;
        margin: 0;
    }

    .header-right .number-phone {
        line-height: 18px;
        margin-right: 8px;
    }

    .btn-one {
        width: 164px;
        height: 32px;
        font-size: 12px;
        line-height: 12px;
        letter-spacing: 1px;
        font-weight: 700;
    }

    .one {
        padding: 16px 0 20px;
    }

    .one-left {
        font-size: 22px;
        line-height: 30px;
        float: none;
        margin: 0 auto 24px;
        text-align: center;
    }

    .one-right:after,
    .one-left:after {
        display: none;
    }

    .one-title {
        margin: 0 0 8px;
    }

    .one-text {
        margin: 0;
        font-size: 20px;
    }

    .one-right {
        float: none;
        margin: 0 auto;
        width: 251px;
        height: 251px;
    }

    .parking {
        width: 50px;
        top: 6px;
    }

    .one-slider:before {
        width: 236px;
        height: 236px;
        border: 6px solid rgba(115, 189, 78, 0.36);
        top: 11px;
        left: 0;
    }

    .one-slider:after {
        width: 232px;
        height: 233px;
        left: 8px;
        top: 19px;
    }

    .one-slider .owl-item {
        max-width: 251px;
    }

    .one-slider .owl-item .one-slide-img img {
        max-width: 230px;
        margin: 65px 0 0 0;
    }

    .one-slider .owl-item .three-slide-img img {
        max-width: 300px;
        margin: 65px 0 0 -15px;
        width: 250px !important;
    }

    .one-slider .owl-item .two-slide-img img {
        width: 600px;
        max-width: 318px;
        margin: 22px 20px 0 -36px;
    }

    .owl-prev, .owl-next {
        width: 14px;
        height: 27px;
        background-size: 100%;
        margin-top: -7px;
        background-repeat: no-repeat;
    }

    .owl-next {
        right: -25px;
    }

    .owl-prev {
        left: -25px;
    }

    .btn-two {
        width: 290px;
        height: 46px;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 22px auto 0;
    }

    .arrow-down {
        width: 30px;
        top: 10px;
    }

    .two {
        padding: 20px 0 32px;
    }

    .two-title {
        max-width: 265px;
        font-size: 18px;
        line-height: 26px;
        margin: 0 auto 20px;
        font-weight: 700;
        letter-spacing: 0.2px;
    }

    .two .row > .item {
        max-width: 220px;
        box-shadow: 0 0 0 2px rgba(180, 216, 160, 1);
        margin: 0 auto 24px;
        padding-bottom: 12px;
    }

    .two .item .item-icon {
        width: 100%;
        height: 50px;
        background: rgb(115, 189, 78);
        float: none;
        overflow: hidden;
        position: relative;
        border-top-right-radius: 6px;
        -webkit-border-top-right-radius: 6px;
        -moz-border-top-right-radius: 6px;
        border-top-left-radius: 6px;
        -webkit-border-top-left-radius: 6px;
        -moz-border-top-left-radius: 6px;
    }

    .two .item .item-icon img {
        margin: -2px 0 -5px -27px;
        max-width: initial;
        width: 58px;
        position: absolute;
        left: 50%;
    }

    .two .row:nth-child(2) .item:nth-child(1) .item-text,
    .two .item-text {
        max-width: 220px;
        margin: 6px auto 0;
        text-align: center;
        float: none;
    }

    .two .item-text .title {
        font-size: 14px;
        line-height: 19px;
    }

    .two .item-text .text {
        line-height: 18px;
    }

    .two .row .item:after {
        display: none !important;
    }

    .three {
        padding: 16px 0 24px;
    }

    .three .wrap {
        padding: 0 12px;
    }

    .three .container {
        max-width: 296px;
        padding: 20px 19px;
    }

    .three-left {
        display: none;
    }

    .three-title {
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.2px;
        max-width: 288px;
        margin: 0 auto 16px;
        font-weight: 700;
    }

    .three-right .item {
        margin-bottom: 16px;
        padding: 12px 0;
    }

    .three-right .item:after {
        display: none;
    }

    .three-right .item-icon img {
        width: 46px;
    }

    .three-right .item-text {
        max-width: 176px;
    }

    .three-right .item-text .title {
        font-size: 14px;
        line-height: 20px;
    }

    .three-right .item-text .text {
        font-size: 12px;
        line-height: 18px;
    }

    .clients:before {
        display: none;
    }

    .clients-title {
        padding: 12px 0 0;
        max-width: calc(100% + 30px);
        width: calc(100% + 30px);
        font-size: 16px;
        line-height: 24px;
        margin: 0 -15px;
        letter-spacing: 0.2px;
        text-align: center;
        float: none;
    }

    .clients-title .title {
        max-width: 288px;
        margin: 0 auto;
    }

    .clients-title .title p {
        position: relative;
        z-index: 3;
    }

    .clients-title:after {
        display: none;
    }

    .clients-title .title:after {
        content: '';
        position: absolute;
        display: block;
        width: initial;
        height: initial;
        background: initial;
        border: 310px solid transparent;
        border-top: 60px solid rgba(115, 189, 78, 1);
        top: initial;
        right: 50%;
        bottom: -340px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        margin-right: -310px;
    }

    .clients .wrap {
        max-width: 100%;
    }

    .clients-link {
        padding: 54px 0 24px;
        text-align: center;
        float: none;
        position: relative;
        z-index: 6;
    }

    .clients-link a:nth-child(1) {
        width: 124px;
        display: block;
        margin: 0 auto;
    }

    .clients-link a:nth-child(2) {
        width: 233px;
        display: block;
        margin: 24px auto 0;
    }

    .four {
        padding: 20px 0 26px;
        position: relative;
        z-index: 6;
    }

    .four-title {
        max-width: 288px;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.2px;
        margin: 0 auto 20px;
    }

    .rewiews-slide-inner {
        padding: 0;
    }

    .rewiews-slide {
        padding: 19px 11px 16px;
    }

    .rewiews-slide-top {
        margin: 0;
    }

    .photo-user {
        width: 70px;
        margin: 0 2px 0 1px;
        vertical-align: middle;
    }

    .rewiews-slide-top-text {
        height: initial;
        vertical-align: middle;
        max-width: 178px;
        font-size: 12px;
        line-height: 18px;
    }

    .rewiews-slide-top-text .name {
        font-size: 14px;
        line-height: 20px;
    }

    .rewiews-text {
        font-size: 12px;
        line-height: 18px;
        margin-top: 6px;
        max-width: 254px;
    }

    .rewiews-text:before,
    .rewiews-text:after {
        display: none;
    }

    .rewiews-slider .owl-item {
        margin: 0 20px !important;
    }

    .rewiews-slider .owl-item.center {
        margin: 0 2px 0 -2px !important;
    }

    .rewiews-slider .owl-prev,
    .rewiews-slider .owl-next {
        width: 14px;
        height: 27px;
        margin-top: -13.5px;
        background-repeat: no-repeat;
    }

    .rewiews-slider .owl-prev {
        margin-left: -156px;
    }

    .rewiews-slider .owl-next {
        margin-right: -156px;
    }

    .five {
        padding: 20px 0 30px;
    }

    .five-title {
        max-width: 288px;
        margin: 0 auto 20px;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        letter-spacing: 0.2px;
    }

    .five-left {
        float: none;
        margin: 0 auto 30px;
        max-width: 276px;
        font-size: 12px;
        line-height: 18px;
        padding: 14px 8px;
    }

    .five-left:after {
        content: '';
        position: absolute;
        border: 15px solid transparent;
        border-top: 15px solid rgba(71, 72, 77, .8);
        left: 50%;
        bottom: -30px;
        margin-left: -15px;
    }

    .five-right {
        float: none;
        max-width: 271px;
        margin: 0 auto;
    }

    .five-right .item:nth-child(1),
    .five-right .item:nth-child(2) {
        vertical-align: top;
    }

    .five-right .item:nth-child(1) {
        margin-left: 13px;
    }

    .five-right .item:nth-child(2) {
        margin: 71px 0 0 27px;
    }

    .five-right .item-title {
        margin-bottom: 8px;
        font-weight: 700;
        font-family: 'Open Sans', sans-serif;
    }

    .five-right .item-oval {
        border: 6px solid #529d2d;
    }

    .five-right .item:nth-child(1) .item-oval {
        width: 106px;
        height: 106px;
    }

    .five-right .item:nth-child(1) .title {
        font-size: 16px;
    }

    .five-right .item:nth-child(1) .text {
        font-size: 12px;
    }

    .five-right .item:nth-child(2) .item-oval {
        width: 120px;
        height: 120px;
    }

    .five-right .item:nth-child(2) .title {
        font-size: 20px;
    }

    .five-right .item:nth-child(2) .text {
        font-size: 14px;
    }

    .five-right .item:nth-child(3) .item-oval {
        width: 136px;
        height: 136px;
    }

    .five-right .item:nth-child(3) .title {
        font-size: 22px;
    }

    .five-right .item:nth-child(3) .text {
        font-size: 16px;
    }

    .five-right .item:nth-child(3) {
        display: block;
        margin-top: -39px;
        width: 136px;
    }

    .six {
        padding: 20px 0 32px;
    }

    .six .wrap {
        padding: 0 12px;
    }

    .six-left {
        float: none;
        max-width: 296px;
        margin: 0 auto;
    }

    #map {
        border-bottom-left-radius: 0;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-bottom-right-radius: 0;
    }

    .map-text {
        max-width: 226px;
        width: 100%;
        top: 46px;
        margin-left: -113px;
        padding: 12px 18px;
    }

    .map-text .title {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 8px;
    }

    .map-text .map-text-inner img {
        width: 16px;
        margin-right: 1px;
    }

    .map-text-inner span,
    .map-text-inner a {
        font-size: 12px;
        max-width: 168px;
    }

    .map-text-inner {
        margin-bottom: 5px;
    }

    .map-text .map-text-inner:last-of-type {
        margin-bottom: 0;
    }

    .six-right {
        max-width: 296px;
        height: 412px;
        float: none;
        margin: 0 auto;
        border-top-left-radius: 0;
        -webkit-border-top-left-radius: 0;
        -moz-border-top-left-radius: 0;
        border-top-right-radius: 0;
        -webkit-border-top-right-radius: 0;
        -moz-border-top-right-radius: 0;
    }

    .six-right form {
        padding: 18px 14px 24px;
    }

    .form-text {
        margin: 0 auto 18px;
    }

    form .row {
        margin-bottom: 12px;
    }

    form .row label {
        margin-bottom: 6px;
    }

    .six-right form .row:last-of-type {
        margin: 18px auto 0;
    }

    footer {
        padding: 16.5px 0 6px;
    }

    footer .wrap {
        max-width: 320px;
        padding: 0 10px;
    }

    .footer-logo {
        max-width: 178px;
        float: none;
        margin: 0 auto 11px;
    }

    .footer-center {
        width: 190px;
        margin: 0 auto;
        float: none;
    }

    .footer-phone {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 6px;
    }

    footer .btn-one {
        width: 190px;
        height: 33px;
        letter-spacing: 1.7px;
    }

    .footer-right {
        float: none;
        width: 220px;
        margin: 13px auto 12px;
        font-size: 12px;
    }

    .footer-right a:last-of-type {
        margin: 12px 0 0 0;
    }

    .footer-text {
        font-size: 10px;
        line-height: 18px;
    }

    .modal-one {
        max-width: 296px;
        padding: 15px 0;
    }

    .form-popup {
        padding: 15px 14px;
    }

    .modal-one .form-title {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 2px;
    }

    .modal-one .form-text {
        margin-bottom: 15px;
    }

    .popup-write {
        display: none;
    }

    .close-popup {
        top: 12px;
        right: 14px;
        width: 16px;
    }

    .sendon-two {
        margin: 0 -10px;
    }
}

@media screen and (min-width: 374px) and (max-width: 767px) {
    .rewiews-slider .owl-prev {
        margin-left: -170px;
    }

    .rewiews-slider .owl-next {
        margin-right: -170px;
    }
}